* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;

}

.panel {
    margin: 10px;
    height: 800px;
    width: 1100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: relative;
    flex: 0.3;
    transition: all;
    -webkit-transition: all 800ms ;
}

.panel h3 {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #ffffff;
    font-size: 30px;
    opacity: 0;
}

.panel-activo {
    flex: 2;
  }
  
.panel-activo h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  