* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #e6e6e6;
}
body.dark-mode{
  background-color: #000000;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #c0c0c0;
    align-items: center;
    height: 60px;
 
}
.nav.dark-mode{
  background-color: #464646;
}
.rostro {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.lista {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

li {
    list-style-type: none;
     margin: 10px;
     font-size: 20px ;
}

.links{
  text-decoration: none;
  color: #000000; 
  
}
.links.dark-mode{
  color:#ffffff ;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 18px;
    width: 400px;
    border-radius: 15% / 25%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(196, 196, 196, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(196, 196, 196, 0.75);
    background-color:  #c0c0c0;
    
}
.tarjeta.dark-mode{
  color:#ffffff ;
  background-color: #464646;
}

h2 {
    text-align: center;
    font-family: 'DynaPuff', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    font-size: 38px;
}

.logo{
  color: #000000;
  
}
.logo.dark-mode{
  color:#e9e9e9 ;
}

h2.dark-mode{
  color:#e9e9e9 ;

}

.container {
    position: relative;
    margin-top: 25vh;

}

h4 {
    font-family: 'DynaPuff', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
p{
    font-family: 'DynaPuff', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-weight: 200;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/dark.png);
    background-size: contain;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #464646;
    top: 2px;
    left: 2px;
    transition: transform 0.2s;
    font-family: "Font Awesome 5 Free";
  }
  
  .switch input[type="checkbox"]:checked + .slider {
    background-image: url(../assets/light.png);
  }
  
  .switch input[type="checkbox"]:checked + .slider:before {
    transform: translateX(30px);
  }